.footerWrapper{
    width: 100vw;
    height: 350px;
    color: white;
    background: #360AFF;
    
}
.footerWrapper h2{
    font-size: 20px;
    font-weight: 500;
    }
.footerWrap{
    width: 1302px;
    height: 200px;
    display: flex;
    padding-top: 5px;
    padding-left: 15px;
   
}
.footerOne{
width: 350px;
padding-top: 50px;
margin-left: 30px;
margin-right: 150px;

}
.socials{
    width: 150px;
    height: 20px;
    padding: 5px;
    padding-bottom: 15px;
 
}
.socials img{
    padding: 5px;
}


.downloadOption img{
    padding: 2px;
}
.footerTwo{
    width: 319px;
    padding-top: 50px;
    margin-left: 30px;

     
}
.footerTwo p{
    font-size: 12px;
    font-weight: 400;
}
hr{
    margin-top: 100px;
    border-color:#b5b6b8
}
.copyWrite{
    font-size: 10px;
    font-weight: 300;
    padding-left: 80px ;
}
