.btn{
    width: 150px;
    height: 40px;
    background-color: #360AFF;
    color: white;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
    border: none;
    border-radius: 8px;
   
}


.btn[data-variant="primary"]{
    background-color: #360AFF;
    color: white;
    width: 150px;
    font-weight: 400;
    
}
.btn[data-variant="secondary"]{
    background-color: transparent;
    color: #360AFF;
    border:  1px solid #360AFF;
}
.btn[data-size="medium"]{
    padding: 7px 0px;
}
.btn[data-size="large"]{
    padding: 10.5px 0px;
}